<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="128x128">

    <link rel="stylesheet" id="main-stylesheet" href="/css/style.css">

    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>

<body>
    {{{body}}}
</body>

<footer class="sans-serif">
    <p>© hagge, 2021</p>
    <p style="font-size: 10px; font-weight: normal;">byggd på data från api.dryg.net och temadagar.se</p>
</footer>

</html>
