<!doctype html>
<html lang="en">

<head>
    <title>{{title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="128x128">
    <link rel="stylesheet" id="main-stylesheet" href="/css/style.css">

    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>

<body>
    {{{body}}}

    {{#if googleAnalyticsId}}
        <script async src="{{ googleAnalyticsScriptUrl }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "{{ googleAnalyticsId }}");
        </script>
    {{/if}}
</body>

<footer class="sans-serif">
    <p>Made by Hagge</p>
    <p style="font-size: 10px; font-weight: normal;">byggd på data från api.dryg.net och temadagar.se</p>
</footer>

</html>
