<header>
  <h1 class="header">{{ "Damnit!" }}</h1>
</header>

<div class="container">
  <div class="error">
    <h3>Blargh! Something went wrong
      <h3>
        <div class="description">
          <h2>{{ message }}
            <h2>
        </div>
  </div>
</div>