/* Variables */
.calendar {
  background: #e66053;
  padding: 1em 3em 3em 4em;
  border-radius: 10px;
  margin-top: 20px;
  color: #4E4F4A;
}
.calendar p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.calendar .month-header {
  text-align: center;
  background-color: #F6E9DC;
}
.calendar .month-header .month-title {
  font-family: 'Montserrat', sans-serif;
  background-color: #4E4F4A;
  color: #F6E9DC;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}
.calendar ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.calendar ol li {
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
}
.calendar ol.day-names {
  background-color: #e66053;
  font-family: 'Montserrat', sans-serif;
  border-top: solid 2px #e66053;
  border-bottom: solid 2px #e66053;
}
.calendar ol.day-names li {
  padding: 10px 0;
  font-size: 18px;
  background: #F6E9DC;
  text-align: center;
}
.calendar .days {
  background-color: #e66053;
}
.calendar .days li {
  min-height: 135px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #F6E9DC;
}
.calendar .days li.isToday {
  border: solid 2px #444;
}
.calendar .days li.isToday .date {
  padding: 4px;
  margin-top: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.calendar .isToday.helgDag .date {
    color: crimson !important;
}


.calendar .days li.not-this-month .date,
.calendar .days li.not-this-month .namedays,
.calendar .days li.not-this-month .themedays {
  font-weight: normal;
  color: #999;
}
.calendar .days li.weekend {
  color: crimson;
}
.calendar .days li.weekend .date {
  color: crimson;
}
.calendar .days li.helgDag {
  background-color: #e68897;
  color: white;
}
.calendar .days li.helgDag .date,
.calendar .days li.helgDag .namedays,
.calendar .days li.helgDag .themedays {
  color: white;
}
.calendar .days li.redDay {
  background-color: crimson;
  color: white;
}
.calendar .days li.redDay .date {
  color: white;
}
.calendar .days li .date {
  margin: 0.5em 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}
.calendar .days li .event {
  background: #6EB590;
  font-size: 0.75em;
  padding: 0 0.75em;
  line-height: 2em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1em;
  margin-bottom: 1px;
}
.namedays,
.themedays {
  font-weight: normal;
  font-size: 0.75em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.themedays p:before {
  content: "• ";
}
.isToday {
  border: solid 2px #444 !important;
}
.isToday .date {
  padding: 4px;
  margin-top: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
}
.weeknumber {
  color: #b8291b;
  margin-left: 10px;
  white-space: nowrap;
}
.weekNumbers {
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: -45px;
  padding-right: 20px;
  font-size: 1.2em;
  color: #F6E9DC;
  width: 0;
  overflow: visible;
}
.weekNumbers div {
  padding-top: 15px;
  height: 135px;
}
.today-facts {
  font-weight: normal;
  margin-bottom: 5px;
}
.today-facts h2 {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
}
@media screen and (max-width: 768px) {
  .today-facts {
    padding: 10px;
  }
}
.today-facts strong {
  text-transform: capitalize;
}
.mobile-calendar-list {
  color: #4E4F4A;
}
@media screen and (min-width: 768px) {
  .mobile-calendar-list {
    display: none;
  }
}
.mobile-calendar-list .not-this-month {
  display: none !important;
}
.mobile-calendar-list .month-header {
  text-align: center;
}
.mobile-calendar-list .month-header .month-title {
  text-transform: capitalize;
}
.mobile-calendar-list .days {
  grid-template-columns: 1fr;
}
.mobile-calendar-list .days li {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 8px;
  padding-left: 8px;
}
.mobile-calendar-list .days li .themedays p {
  margin-top: 5px;
}
.calendar.is-in-the-past {
  display: none;
}
/* mobile view overrides */
@media screen and (max-width: 768px) {
  .today-facts {
    /* make room for logo */
    margin-top: 37px;
    margin-left: 54px;
  }
  .calendar {
    padding: 0;
    border-radius: 0;
  }
  .calendar-grid:not(.is-current-month) {
    display: none;
  }
  .menu-bar {
    height: 60px;
  }
  .calendar-grid .weekNumbers,
  .calendar-grid .namedays,
  .calendar-grid .themedays,
  .calendar-grid .holiday,
  .calendar-grid .prevmonthname {
    display: none !important;
  }
  .calendar-grid .holiday {
    font-size: 11px;
  }
  .calendar-grid > .days > li {
    height: 50px;
  }
  .calendar-grid ol.day-names li {
    font-size: 0;
  }
  .calendar-grid ol.day-names li:first-letter {
    font-size: 16px;
  }
  .weekNumbers {
    margin-left: -24px;
    font-size: 12px;
  }
}
/* desktop view overrides */
@media screen and (min-width: 768px) {
  .menu-bar-bottom {
    display: none !important;
  }
}
.menu-bar {
  white-space: nowrap;
  text-align: center;
}
.menu-bar a.button {
  text-decoration: none;
  color: #F6E9DC;
}
.menu-bar .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background: #b8291b;
  border-radius: 4px;
  font-size: 12px;
}
.menu-bar .button + .button {
  margin-left: 5px;
}
.menu-bar .button:hover,
.menu-bar .button:active {
  background: #8c1f14;
  color: white;
}
.menu-bar .button:active {
  box-shadow: 0 0 5px #666;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v27/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGuGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Mr Dafoe';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/mrdafoe/v14/lJwE-pIzkS5NXuMMrFitibc.ttf) format('truetype');
}
@font-face {
  font-family: 'helvetica';
  src: url('../fonts/HelveticaNeueBold.eot');
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueBold.woff') format('woff'), url('../fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Basics */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #e66053;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body {
    padding: 20px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header h1.logo {
  position: absolute;
  left: 0;
  top: 5px;
  margin: 0;
  transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -webkit-transform: rotate(340deg);
  font-family: 'Mr Dafoe', cursive;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 1px 2px 0px #4b4343;
}
.sans-serif {
  font-family: sans-serif;
}
footer {
  border-top: solid 2px #F6E9DC;
  text-align: center;
  padding: 20px;
}
summary {
    color: #eee;
}
