/* Variables */
@calendarRowHeight: 135px;
@mobileWidth: 768px;

/* Basics */

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    margin: 0;
    padding: 10px 0;
    background-color: #f2f2f2;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    @media screen and (min-width: @mobileWidth) {
        padding: 20px;
    }
}


/* Calendar Styling */
.clearfix:after,
.calendar ol:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.calendar {
    background: white;
    padding: 1em 3em 3em 4em;
    border-radius: 10px;
}

.calendar .month {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    color: #eee;
    background-color: #555;
    text-align: center;
    text-transform: uppercase;
}

.calendar ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        width: calc(~'100%/7');
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        word-wrap: break-word;
        hyphens: auto;
    }
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
    background-color: #555;
    color: white;

    li {
        text-transform: uppercase;
        margin: .5em 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    height: @calendarRowHeight;

    .date {
        margin: .5em 0;
    }

    .event {
        background: #6EB590;
        font-size: .75em;
        padding: 0 .75em;
        line-height: 2em;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 1em;
        margin-bottom: 1px;
    }
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd;
}

.previousMonth {
    background-color: #f2f2f2;
    .date,
    .namedays,
    .themedays {
        font-weight: normal;
        color: #999;
    }
}

.weekend {
    color: tomato;
    .date {
        color: tomato;
    }
}

.helgDag {
    background-color: rgb(230, 136, 151);
    color: white;
    .date {
        color: white;
    }
}

.redDay {
    background-color: crimson;
    color: white;
    .date {
        color: white;
    }
}

.namedays,
.themedays {
    font-weight: normal;
    font-size: 0.75em;
}

.themedays {
    margin-top:5px;
}

.isToday {
    border: solid 2px #555 !important;
    .date {
        font-size: 1.5em;
    }
}

.weeknumber {
    font-weight: bold;
    background-color: tomato;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    color: white;
    margin-left: 10px;
}

.weekNumbers {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: -45px;
    padding-right: 20px;
    font-size: 1.2em;
    color: lightgrey;
    width: 0;
    overflow: visible;
    div {
        padding-top: 5px;
        height: @calendarRowHeight;
    }
}

.today-facts {
    font-weight: normal;
    margin-bottom: 5px;

    @media screen and (max-width: 768px) {
        padding: 10px;
    }

    strong {
        text-transform: capitalize;
    }
}


.calendar-list {
    @media screen and (min-width: @mobileWidth) {
        display: none;
    }
    .previousMonth,
    .day-names {
        display: none !important;
    }

    h2 {
        color: #eee;
        background-color: #555;
        text-align: center;
        padding: 20px 5px;
    }

    > .days > li {
        width: 100%;
        display: block;

        &:first-of-type {
            border-top: solid 1px #eee;
        }
    }

    .days li {
        height: auto;
        padding-bottom: 8px;
        &:nth-child(n+29) {
            border-bottom: 1px solid #eee;
        }
    }
}

/* mobile view overrides */
@media screen and (max-width: @mobileWidth) {

    .calendar {
        padding: 0;
        border-radius: 0;
    }

    .menu-bar {
        height: 60px;
    }

    .calendar-grid {
        .weekNumbers,
        .namedays,
        .themedays,
        .holiday,
        .prevmonthname {
            display: none !important;
        }

        .holiday {
            font-size: 11px;
        }

        > .days > li {
            height: 50px;
        }

        .day-names li {
            visibility: hidden;

            &:first-letter {
                visibility: visible;
            }
        }
    }

    .weekNumbers {
        margin-left: -24px;
        font-size: 12px;
    }
}


/* desktop view overrides */
@media screen and (min-width: @mobileWidth) {

    .menu-bar-bottom {
        display: none !important;
    }
}
