@import "calendar.less";
@import "menu.less";

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBold.woff') format('woff'),
         url('../fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
